*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.6rem;
}
a{
    text-decoration: none;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}

.main-header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(./photos/bg.jpg) no-repeat center center/cover;
}
.main-header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    
}
.header-top{
    position: relative;
    height: 90px;
    z-index: 2;
}

.header-top a{
    position: absolute;
    top: 40%;
    right: 0px;
    transform: translate(-50%, -50%);
    
}
.header-content{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    z-index: 2;
      
    
}

.header-content h1{
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3rem;
    margin: 0 0 2rem;
    
}
.header-content p{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.25rem;
    /* margin-top: 1rem 2rem; */
}
.header-content a{
    margin-top: 1rem;
}

/* Section Gallery */

section.gallery {
    background: #000000;
    width: 100%;
    
    
}

section.gallery .gallery-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "box1 box2 box3"
    "box1 box4 box5" 
}

section.gallery .gallery-container a:first-child{
    grid-area: box1;
    padding: 1rem;
    
}
section.gallery .gallery-container a:nth-child(2){
    grid-area: box2;
    
    padding: 1rem;

}

section.gallery .gallery-container a:nth-child(3){
    grid-area: box3;
    
    padding: 1rem;
    
}
section.gallery .gallery-container a:nth-child(4){
    grid-area: box4;
    padding: 1rem;
    

}

section.gallery .gallery-container a:last-child{
    grid-area: box5;
    padding: 1rem;
    

}


.img-container{
    position: relative;
    display: inline-block;
    
}
.img-container .text-container{
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all .3s ease-in-out;
}

.img-container .text-container:hover{
    opacity: 1;
}

.img-container .text-container{
    font-size: 3rem;
    line-height: 3rem;
}

.main-container{
   
    display: flex;
    background: #000;
    color: white;
    
}
.main-container >div{
    padding: 20px 40px;
    
}
.main-content {
    flex: 2;
    order: 2;
}

.left-sidebar{
    flex: 1;
    order: 1;

}
.right-sidebar{
    flex: 1;
    order: 3;
}
.main-container p{
    margin-top: 2rem;

}

.btn{
    display: inline-block;
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: 0;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.450);
    border-radius: 2px;

}
.btn:hover{
    opacity: 0.9;

}
.btn-rounded{
    border-radius: 5px;
}

.btn-xl{
    font-size: 1.8rem;
    padding: 1rem 2.1rem;
    text-transform: uppercase;
}

.btn-lg{
    font-size: 1.2rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.fa-fw{
    margin-left: 1rem;
    
}

.about-section{
    position: relative;
    background: url(./photos/bgtwo.jpeg) no-repeat center center/cover;
    height: 850px;
    
}
.about-section-inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
}

.about-section-inner h3{
    font-size: 3rem;
    font-weight: 400;
    
    
}
.about-section-inner h2{
    font-size: 5rem;
    line-height: 5rem;
    margin-top: 1rem;
    
}
.about-section-inner p{
    font-size: 1rem;
    margin-top: 1rem;
}

.overlay{
    position: absolute;
    top: 0;
    left:  0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);

}

/* News Letter Section */

.news-letter{
    width: 100%;
    height: 400px;
    background: rgb(32, 32, 32);
}
.news-letter-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;

}
.news-letter-inner h2{
    font-size: 2.5rem;
    margin: 1rem 0;
}
.email-form{
    width: 100%;
    display: inline-block;
    background-color: #555;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;

     
}
.email-form .form-control{
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #ddd;
    background-color: transparent;
    font-size: inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;

}
.email-form .submit{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #eee;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #333;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

/* footer */

.footer{
    max-width: 75%;
    margin: 2rem auto;
    overflow: auto;

}
.footer .footer a{
    color: #ddd;
    font-size: 0.9rem;

}
.footer p{
    margin-bottom: 1.5rem;

}
.footer .footer-col{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.footer li{
    line-height: 1.9rem;
}
.footer-col a:hover{
    color: red;
}




@media (max-width: 700px) {
    section.gallery .gallery-container{
       grid-template-columns: 100%;
       grid-template-areas: "box1" "box2"
       "box3" "box4" "box5";
      
    }

    .main-container{
   
        display: grid;
        background: #000;
        color: white;   
    }

    .email-form .form-control{
        font-size: 10px;
    }
  
    .news-letter-inner h3 {
        font-size: 10px;
    }


    .about-section-inner h3{
        font-size: 2rem;
       
        
        
    }
    .about-section-inner h2{
        font-size: 3rem;
        
    }
    .about-section-inner p{
        font-size: 1rem;
        
    }
  
    
}
